.container-auth{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-auth h2{
  margin-bottom: 50px;
}

.container-auth form{
  width: 300px;
  text-align: center;
}