.chart-filter{
  display: flex;
  justify-content: space-evenly;
}

.chart-filter .select-currency{ 
  width: 400px;
}

.start-date__inp, .end-date__inp{
  padding: 0 0 3px 15px;
  height: 100%;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.start-date label, .end-date label{
  margin-right: 10px;
}