.sale-of-currency{
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sale-of-currency h3{
  margin-bottom: 20px;
}

.sale-of-currency form{
  width: 300px;
  text-align: center;
}