.receiving-currency{
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.receiving-currency h3{
  margin-bottom: 50px;
}

.receiving-currency form{
  width: 300px;
  text-align: center;
}