.navbar-container{
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.navbar-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    background: #e9ecef;
    justify-content: space-evenly;
}

.navbar-list__item{
    display: flex;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.navbar-list__item a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 20px;
    color: #495057;
    font-size: 16px;
    transition: color .2s ease;
}

.navbar-list__item:hover a{
    color: #383d42;
}

a.active{
    color: #ffffff;
    background-color: #6870ec;
    border-radius: 5px;
    transition: color, background-color .2s ease;
}